<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include("../partials/header") %>
    <main>
        <section class="contato">
            <div class="container">
                <h1>Produtos favoritos</h1>
                <div class="align-row" style="width: 100%;">
                  <table>
                    <tr>
                      <th>ID</th>
                      <th>Nome</th>
                      <th>Descrição</th>
                      <th>Valor</th>
                      <th>Ações</th>
                    </tr>
                    <% favoritos.forEach(produto => { %>
                      <tr>
                        <td><%= produto.id %></td>
                        <td><%= produto.nome %></td>
                        <td><%= produto.descricao %></td>
                        <td><%= produto.valor %></td>
                        <td>
                          <a href="/admin/produtos/<%= produto.id %>/editar">Editar</a>
                        </td>
                      </tr>
                    <% }) %>
                  </table>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partials/footer") %>
</body>

</html>